body{
background-color:#1D4221,
color:white
font-family:"bai-jamjure",sans-serif;
display:flex
 justify-content: center, --> centralizados os elementos horizontalmente 
 aligh-items: center;
height:700 px,
margin:0
}
